@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "Open Sans";
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: yellow;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    text-align: center;
}

/* Reference */
/* https://css-tricks.com/perfect-full-page-background-image/ */
#bg {
    position: fixed;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    -webkit-animation: spin 40s infinite linear;
    -moz-animation: spin 40s infinite linear;
    -o-animation: spin 40s infinite linear;
    -ms-animation: spin 40s infinite linear;
}
#container {
    z-index: 1;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 1em;
        padding: 0;
        margin: 0;
    }

    #time_display {
        font-size: 0.5em;
        padding: 0;
        margin: 0;
    }

    #message_text {
        font-size: 0.5em;
        padding: 0;
        margin: 0;
    }

    #map {
        height: 300px;
        margin: 0;
        padding: 0;
    }

    footer {
        font-size: 0.5em;
    }
}
@media (min-width: 600px) {
    header h1 {
        font-size: 3em;
        padding: 0;
        margin: 0;
    }

    #time_display {
        padding: 0;
        margin: 0;
    }

    #message_text {
        padding: 0;
        margin: 0;
    }

    #map {
        height: 500px;
        margin: 0;
        padding: 0;
    }
}

#slider {
    margin: 0 auto;
    width: 75%;
}

#error {
    color: red;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
}
