@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "Open Sans";
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: yellow;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    text-align: center;
}

/* Reference */
/* https://css-tricks.com/perfect-full-page-background-image/ */
#bg {
    position: fixed;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    -webkit-animation: spin 40s infinite linear;
    -moz-animation: spin 40s infinite linear;
    -o-animation: spin 40s infinite linear;
    -ms-animation: spin 40s infinite linear;
}

.bg-0, .bg-1, .bg-2 {
    background-color: #000079;
}

.bg-3, .bg-23 {
    background-color: #0000be;
}

.bg-4, .bg-22 {
    background-color: #0000FF;
}

.bg-5, .bg-21 {
    background-color: #5108ff;
}

.bg-6, .bg-20 {
    background-color: #8f03ff;
}

.bg-7, .bg-19 {
    background-color: #ff05f8;
}

.bg-8, .bg-18 {
    background-color: #ff0458;
}

.bg-9, .bg-17 {
    background-color: #ff2507;
}

.bg-10, .bg-16 {
    background-color: #ff7403;
}

.bg-11, .bg-15 {
    background-color: #ffaa00;
}

.bg-12, .bg-13, .bg-14 {
    background-color: #fff604;
}

#container {
    z-index: 1;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 1em;
        padding: 0;
        margin: 0;
    }

    #time_display {
        font-size: 0.5em;
        padding: 0;
        margin: 0;
    }

    #message_text {
        font-size: 0.5em;
        padding: 0;
        margin: 0;
    }

    #map {
        height: 300px;
        margin: 0;
        padding: 0;
    }

    footer {
        font-size: 0.5em;
    }
}
@media (min-width: 600px) {
    header h1 {
        font-size: 3em;
        padding: 0;
        margin: 0;
    }

    #time_display {
        padding: 0;
        margin: 0;
    }

    #message_text {
        padding: 0;
        margin: 0;
    }

    #map {
        height: 500px;
        margin: 0;
        padding: 0;
    }
}

#slider {
    margin: 0 auto;
    width: 75%;
}

#error {
    color: red;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
}
